/* Background Colors */
.bg-purple {
    background-color: #6F42C1
}

.bg-blue-light {
    background-color: #e3f2fd
}

/* Text Colors */
.text-purple {
    color: #6F42C1
}

/* Images */
.img_boy_changing_tasks {
    height: 350px !important;
}

/* Others */
.actions_icon_container > a {
    padding: 2px;
    border: 1px solid #6F42C1;
    transition: all 0.3s ease-in-out;
}

.actions_icon_container > a:hover {
    transform: scale(1.2);
    background-color: #A98EDA;
}

.ml-1 {
    margin-left: 5px;
}

.mr-1 {
    margin-right: 5px;
}
